@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #FFFFFF;
    color: #0F1419;
  }
}

@layer utilities {
  .border-x-layout {
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: #EFF3F4;
  }

  .border-b-layout {
    border-bottom-width: 1px;
    border-color: #EFF3F4;
  }
}